html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
}
body {
  background-image: url('homescreen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 1em;
}
h2 {
  font-size: .8em;
  color: rgba(0, 0, 0, .6);
}


.header {
  background: #09c;
  color: #fff;
}
.header h2 {
  color: rgba(255, 255, 255, .6);
}
.color {
  height: 48px;
  width: 48px;
}
theme-picker > .current {
  background: pink;
}

theme-picker > div{padding:8px;}


.pickerGroup {}
.pickerGroup > .header {opacity:0;height:0;padding:0;overflow:hidden;}
.pickerGroup.show > .header{opacity:1;height:inherit;padding:8px;overflow:hidden;}
.pickerGroup.show {}
.pickerGroup > header {opacity:1;}
.pickerGroup.show > header{opacity:0;height:0;padding:0;overflow:hidden;}
.pickerGroup.hide > .header {opacity:0;height:0;padding:0;overflow:hidden;}

.pickerGroup:not(.show) > .pickerGroup > header {
  opacity:0;
  height:0;padding:0;overflow:hidden;
}

.picker {opacity:0;height:0;padding:0;overflow:hidden;}
.pickerGroup.show > .picker:not(.hide),
.picker.show {
  opacity:1;
  height:inherit;overflow:hidden;
}
.pickerGroup.hide > .picker:not(.show) {
  opacity:0;
  height:0;padding:0;overflow:hidden;
}

.picker > header {opacity:1;height:inherit;padding:8px;overflow:hidden;}
.picker > .edit {opacity:0;height:0;padding:0;overflow:hidden;}
.picker.show > header {opacity:0;height:0;padding:0;overflow:hidden;}
.picker.show > .edit {opacity:1;height:inherit;overflow:hidden;}

.picker.show > .edit > *,
.pickerGroup > header {padding:8px;}