<div class=header>
  <h1>
    Configuration
  </h1>
  <h2>
    <input type=button value=Close (click)="onClose()">
  </h2>
</div>


<number-picker
  #r
  [class.show]="currentPicker === r"
  [title]="'Widget Ratio'"
  [value]="_weatherService.ratio"
  [min]="1"
  [max]="3"
  [step]=".1"
  (focus)="currentPicker = r"
  (update)="onUpdate(_weatherService.ratio = $event)"
  (cancel)="onUpdate(currentPicker = null, _weatherService.ratio = $event)"
  (save)="onUpdate(currentPicker = null, _weatherService.ratio = $event)"></number-picker>

<forecast-io-settings
  #fi
  [class.show]="currentPicker === fi"
  (focus)="currentPicker = fi"
  (cancel)="currentPicker = null"
  (save)="currentPicker = null"></forecast-io-settings>

<forecast-io-refresher (refresh)="onRefresh($event)"></forecast-io-refresher>


<boolean-picker
  [title]="'Fullscreen'"
  [subtitle]="'Enter fullscreen mode?'"
  [value]="fullscreen"
  (update)="toggleFullscreen($event)"></boolean-picker>


<!-- <div class="form-group row">
      <div class=col-xs-5>Widget Dimension Ratio: {{graph.widgetRatio}}</div>
      <div class=col-xs-7>
        <input #gWidDimRat (input)="refresh(graph.widgetRatio = gWidDimRat.value)" [value]=graph.widgetRatio type=range min=".1" max=5 step=".2" class=form-control>
      </div>
    </div> -->
