<header (click)="onFocus()">
  <h1>Forecast IO info</h1>
  <h2>Set the latitude, longitude, and API key for ForecastIO</h2>
</header>
<div class=edit>
  <div class=header>
    <h1>
      <span>Forecast IO info</span>
      <input type=button title=Done value="&#10004;" (click)="onSave()">
      <input type=button title=Cancel value="&#10008;" (click)="onCancel()">
    </h1>
    <h2>Set the latitude, longitude, and API key for ForecastIO</h2>
  </div>
  <div class=controls>
    <div>
      <label>API Key</label>
      <input type=text required [(ngModel)]=dao.apikey placeholder="API Key">
    </div>
    <div>
      <label>Latitude</label>
      <input type=number step=any required [(ngModel)]=dao.latitude placeholder="Latitude">
    </div>
    <div>
      <label>Longitude</label>
      <input type=number step=any required [(ngModel)]=dao.longitude placeholder="Longitude">
    </div>
  </div>
</div>
