html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
}
body {
  background-image: url('homescreen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 1em;
}
h2 {
  font-size: .8em;
  color: rgba(0, 0, 0, .6);
}


.header {
  background: #09c;
  color: #fff;
}
.header h2 {
  color: rgba(255, 255, 255, .6);
}
.color {
  height: 48px;
  width: 48px;
}
theme-picker > .current {
  background: pink;
}



.pickerGroup {}
.pickerGroup > .header {opacity:0;}
.pickerGroup.show > .header{opacity:1;}
.pickerGroup.show {}
.pickerGroup > header {opacity:1;}
.pickerGroup.show > header{opacity:0;}
.pickerGroup.hide {}

.pickerGroup:not(.show) > .pickerGroup > header {
  opacity:0;
}

.picker {opacity:0;}
.pickerGroup.show > .picker,
.picker.show {
  opacity:1;
}

.picker > header {opacity:1;}
.picker > .edit {opacity:0;}
.picker.show > header {opacity:0;}
.picker.show > .edit {opacity:1;}


.pickerGroup > .header,
.pickerGroup.show > header ,
.pickerGroup:not(.show) > .pickerGroup > header,
.picker,
.picker > .edit,
.picker.show > header {
  transition: opacity 0 0.5s ease-out;
}

.pickerGroup.show > .header,
.pickerGroup > header,
.pickerGroup.show > .picker,
.picker.show ,
.picker > header ,
.picker.show > .edit {
  transition: opacity .5s .5s ease-out;
}